br{    
    margin-top:10px;                  
}

.strike{
    text-decoration: line-through;
    color:grey;
}

.fontstyle{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.trash{
    color:red;
    float:right;
    cursor:pointer;
}